@model IEnumerable<WebShop.Models.Product>

@{
    ViewData["Title"] = "Главная";
}
<h1>Главная</h1>

<p>
    @if (User.Identity.Name == "admin@mail.ru")
    {
        <a asp-action="Create">Добавить</a>
    }
</p>
<div class="card_container">
    @foreach (var item in Model.Where(p => p.QuantityInStock > 0))
    {
        <div class="card card_div">
            <h1 class="card_text_header">@Html.DisplayFor(modelItem => item.ProductName)</h1>
            <h3 class="card_text">@Html.DisplayFor(modelItem => item.Description)</h3>
            <h2 class="card_text" >@Html.DisplayFor(modelItem => item.Price) Руб.</h2>
            <h3 class="card_text"> Количество на складе: @Html.DisplayFor(modelItem => item.QuantityInStock)</h3>
            <a asp-action="Details" asp-route-id="@item.ProductID" class="btn btn-primary">Детали</a>
            @if (User.Identity.Name == "admin@mail.ru")
            {
                <a asp-action="Edit" asp-route-id="@item.ProductID" class="btn btn-primary">Изменить</a>
                <a asp-action="Delete" asp-route-id="@item.ProductID" class="btn btn-outline-danger">Удалить товар</a>
            }
        </div>
    }
</div>
@if (User.Identity.Name == "admin@mail.ru")
{
    <h1>Список товаров "Нет в наличии"</h1>
    @foreach (var item in Model.Where(p => p.QuantityInStock <= 0))
    {
        <div class="card card_div">
            <h1 class="card_text_header">@Html.DisplayFor(modelItem => item.ProductName)</h1>
            <h3 class="card_text">@Html.DisplayFor(modelItem => item.Description)</h3>
            <h2 class="card_text">@Html.DisplayFor(modelItem => item.Price) Руб.</h2>
            <h3 class="card_text"> Количество на складе: @Html.DisplayFor(modelItem => item.QuantityInStock)</h3>
            <a asp-action="Details" asp-route-id="@item.ProductID" class="btn btn-primary">Детали</a>
            @if (User.Identity.Name == "admin@mail.ru")
            {
                <a asp-action="Edit" asp-route-id="@item.ProductID" class="btn btn-primary">Изменить</a>
                <a asp-action="Delete" asp-route-id="@item.ProductID" class="btn btn-outline-danger">Удалить товар</a>
            }
        </div>
    }
}
