@model IEnumerable<WebShop.Models.Order>

@{
    ViewData["Title"] = "Заказы";
}

<h1>Список заказов</h1>

<div class="card_container">
        @foreach (var item in Model)
        {
            <div class="card card_div">
                <h3 class="card_text">Статус: @Html.DisplayFor(modelItem => item.Status)</h3>
                <h2 class="card_text">Дата оформления заказа: @Html.DisplayFor(modelItem => item.OrderDate) </h2>
                <h3 class="card_text">Общая стоимость: @Html.DisplayFor(modelItem => item.TotalAmount) Руб.</h3>
            <a asp-action="OrderDetails" asp-route-id="@item.OrderID" class="btn btn-primary">Детали</a>
                @if (User.Identity.Name == "admin@mail.ru")
                {
                    <a asp-action="Edit" asp-route-id="@item.OrderID" class="btn btn-primary">Редактировать</a>
                    <a asp-action="Delete" asp-route-id="@item.OrderID" class="btn btn-danger">Удалить</a>
                }
                
            </div>
        }
</div>