@model IEnumerable<WebShop.Models.Order>

@{
    ViewData["Title"] = "Заказы";
}

<h1>Список заказов</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Статус
            </th>
            <th>
                Дата заказа
            </th>
            <th>
                Итоговая цена
            </th>
            <th>
                Логин заказчика
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Email)
                </td>
                <td>
                    @* @if (User.IsInRole("Admin"))
                    { *@
                        <a asp-action="Edit" asp-route-id="@item.OrderID">Изменить</a>
                        <a asp-action="Delete" asp-route-id="@item.OrderID">Удалить</a>
                 @* } *@
                    <a asp-action="OrderDetails" asp-route-id="@item.OrderID">Детали</a>

                </td>

            </tr>
        }
    </tbody>
</table>
