@model WebShop.Models.Order

@{
    ViewData["Title"] = "Детали заказа";
}

<h1>Детали заказа от @Model.OrderDate</h1>

<p>Дата: @Model.OrderDate</p>
<p>Статус: @Model.Status</p>
<p>Общая стоимость: @Model.TotalAmount</p>

<h2>Содержимое заказа</h2>

    <div class="card_container">
        @foreach (var item in Model.OrderDetails)
        {
            <div class="card card_div">
                <h1 class="card_text_header">@Html.DisplayFor(modelItem => item.Product.ProductName)</h1>
                <h3 class="card_text">@Html.DisplayFor(modelItem => item.Product.Description)</h3>
                <h2 class="card_text">@Html.DisplayFor(modelItem => item.Price) Руб.</h2>
                <h3 class="card_text">Количество в заказе: @Html.DisplayFor(modelItem => item.Quantity)</h3>
            </div>
        }
    </div>       

